#Functions
export("ANIRmodis")
export("ARmodis")
export("AS1modis")
export("AS2modis")
export("SASImodis")
export("ANIRsentinel")
export("ARsentinel")
export("AS1sentinel")
export("AS2sentinel")
export("SASIsentinel")
export("ARE1sentinel")
export("ARE2sentinel")
export("ARE3sentinel")

#Packages
import("methods")
import("raster")
import("sp")